<div class="navbar navbar-expand-lg navbar-default navbar-dark bg-primary" style="">
    <div class="container">
        <a [routerLink]="['/']" class="navbar-brand">HOWDY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="navbar-collapse collapse show" id="navbarResponsive" style="">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto navbar-right">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>